body {
    justify-content: unset !important;
}

article {
    padding-bottom: 10px;
    & h1 {
        border-bottom: 2px solid white;
    }
}

section h2 {
    border-bottom: 1px solid white;
}

address {
    white-space: pre-line;
}